#facetly_result img, tr, td {
  vertical-align: top;
}

#facetly_result img  {
  width:150px;
  height:150px;
}

#facetly_result table {
  width:100%;
}
#facetly_result table, tr, td {
  padding-right: 50px;
  padding-bottom: 20px;
  padding-top: 5px;
  margin-left: 1px;
}

table a {text-decoration: none; color: #06C;}
table a:hover {text-decoration: underline;}

.item-list ul.pager {
  list-style-type: none;
  margin-left:auto;
  margin-right:auto;
}

.item-list ul.pager li {
  float: left;
  list-style-type: none;
  background: none;
  text-align: center;
  padding: 5px;
}

ul.facets {
  list-style-type: none;
}
ul.facets li,ul{
  list-style-type: none;
}



#facetly_result .facetly_loading {
  text-align: center;
}

#facetly_facet li a {
  color: #000;
}

.item-list li a {
  color: #000;
}
