#facetly_result img, tr, td {
  vertical-align: top;
}

#facetly_result img  {
  width:150px;
  height:150px;
}

#facetly_result table {
  width:100%;
}
#facetly_result table, tr, td {
  padding-right: 50px;
  padding-bottom: 20px;
  padding-top: 5px;
  margin-left: 1px;
}

#facetly_facet a:link, a:visited {text-decoration: none; color: black;}
#facetly_facet a:hover {text-decoration: underline; color: #06C;}

.item-list ul.pager {
  list-style-type: none;
  /*width:70%;*/
  margin-left:auto;
  margin-right:auto;
}

.item-list ul.pager li {
  float: left;
  list-style-type: none;
  background: none;
  text-align: center;
  padding: 5px;
}

ul.facets {
  list-style-type: none;
}
ul.facets li,ul{
  list-style-type: none;
}

/*.item-list ul.pager li a {
  color: #000000;
}*/

.item-list ul.pager li a:link, a:visited, a{
  color: #000000;
  text-decoration: none;
}


.autocomplete-w1 { background:url(images/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:bold; color:#336699; }